<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>TProject</display-name>
	<welcome-file-list>
		<welcome-file>redirectToIndexPage</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>userPage</servlet-name>
		<jsp-file>/WEB-INF/pages/userPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>userPage</servlet-name>
		<url-pattern>/userPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminPage</servlet-name>
		<jsp-file>/WEB-INF/pages/adminPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminPage</servlet-name>
		<url-pattern>/adminPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bookmakerPage</servlet-name>
		<jsp-file>/WEB-INF/pages/bookmakerPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookmakerPage</servlet-name>
		<url-pattern>/bookmakerPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addNewGamePage</servlet-name>
		<jsp-file>/WEB-INF/pages/addNewGamePage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>addNewGamePage</servlet-name>
		<url-pattern>/addNewGamePage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>registrationPage</servlet-name>
		<jsp-file>/WEB-INF/pages/registrationPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>registrationPage</servlet-name>
		<url-pattern>/registrationPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToUserPage</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToUserPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToUserPage</servlet-name>
		<url-pattern>/redirectToUserPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToAdminPage</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToAdminPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToAdminPage</servlet-name>
		<url-pattern>/redirectToAdminPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToBookmakerPage</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToBookmakerPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToBookmakerPage</servlet-name>
		<url-pattern>/redirectToBookmakerPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToEnglishLocalizationPage</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToEnglishLocalizationPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToEnglishLocalizationPage</servlet-name>
		<url-pattern>/redirectToEnglishLocalizationPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToRussianLocalizationPage</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToRussianLocalizationPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToRussianLocalizationPage</servlet-name>
		<url-pattern>/redirectToRussianLocalizationPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToIndexPage</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToIndexPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToIndexPage</servlet-name>
		<url-pattern>/redirectToIndexPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToPersonalPage</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToPersonalPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToPersonalPage</servlet-name>
		<url-pattern>/redirectToPersonalPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToAddNewGamePage</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToAddNewGamePage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToAddNewGamePage</servlet-name>
		<url-pattern>/redirectToAddNewGamePage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToMakeRatePage</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToMakeRatePage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToMakeRatePage</servlet-name>
		<url-pattern>/redirectToMakeRatePage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToIndexWithBasketballGame</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToIndexWithBasketballGame.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToIndexWithBasketballGame</servlet-name>
		<url-pattern>/redirectToIndexWithBasketballGame</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToIndexWithFootballGame</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToIndexWithFootballGame.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToIndexWithFootballGame</servlet-name>
		<url-pattern>/redirectToIndexWithFootballGame</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>redirectToIndexWithHockeyGame</servlet-name>
		<jsp-file>/WEB-INF/pages/redirect_pages/redirectToIndexWithHockeyGame.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>redirectToIndexWithHockeyGame</servlet-name>
		<url-pattern>/redirectToIndexWithHockeyGame</url-pattern>
	</servlet-mapping>
	<servlet>

		<servlet-name>pageWithGames</servlet-name>
		<jsp-file>/WEB-INF/pages/pageWithGames.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>pageWithGames</servlet-name>
		<url-pattern>/pageWithGames</url-pattern>
	</servlet-mapping>

	<!-- Error Pages -->
	<servlet>
		<servlet-name>forbiddenPage</servlet-name>
		<jsp-file>/WEB-INF/pages/error_pages/forbiddenPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>forbiddenPage</servlet-name>
		<url-pattern>/forbiddenPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>notAllowedPage</servlet-name>
		<jsp-file>/WEB-INF/pages/error_pages/notAllowedPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>notAllowedPage</servlet-name>
		<url-pattern>/notAllowedPage</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/pages/error_pages/notFoundPage.jsp</location>
	</error-page>


	<!-- Controllers -->

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>by.asushenya.total.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AJAXController</servlet-name>
		<servlet-class>by.asushenya.total.controller.ajax_controller.AJAXController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AJAXController</servlet-name>
		<url-pattern>/AJAXController</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>by.asushenya.total.controller.listener.InitializationSourceListener</listener-class>
	</listener>

	<!-- Filters -->
	<filter>
		<filter-name>AddNewGameFilter</filter-name>
		<filter-class>
			by.asushenya.total.controller.ajax_controller.ajax_command.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AddNewGameFilter</filter-name>
		<url-pattern>/addNewGamePage</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AdminPageFilter</filter-name>
		<filter-class>
			by.asushenya.total.controller.ajax_controller.ajax_command.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminPageFilter</filter-name>
		<url-pattern>/adminPage</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>BookmakerPageFilter</filter-name>
		<filter-class>
			by.asushenya.total.controller.ajax_controller.ajax_command.filter.BookmakerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BookmakerPageFilter</filter-name>
		<url-pattern>/bookmakerPage</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>UserPageFilter</filter-name>
		<filter-class>
			by.asushenya.total.controller.ajax_controller.ajax_command.filter.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BookmakerPageFilter</filter-name>
		<url-pattern>/userPage</url-pattern>
	</filter-mapping>
</web-app>